.predictions__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.predictions__cards {
    background: var(--color-bg-variant);
    border: 1px solid var(--color-light);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.predictions__cards:hover {
    background: var(--color-light);
    border-color: var(--color-light);
    cursor: default;
    content: var(--color-bg-variant)
}

.predictions__icon {
    color: var(--color-bg-light);
    font-size: 1.4rem;
    margin-bottom: 1rem;

}

.predictions__cards h5 {
    font-size: 0.9rem;
}


.predictions__cards small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.predictions__cards:hover h5 {
    color: var(--color-bg-variant);
}


.predictions__cards:hover small {
    color: var(--color-bg-variant);
}

.predictions__cards:hover .predictions__icon {
    color: var(--color-bg-variant);
}


/* .predictions__chart__card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
} */

.predictions__chart__cards {
    background: var(--color-bg-variant);
    border: 1px solid var(--color-light);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    margin-bottom: 1rem;
}

/*from https://github.com/apexcharts/vue-apexcharts/issues/114
2hrs to fix it :)
*/
.apexcharts-menu {
    background-color: var(--color-white) !important;
    color: var(--color-bg-variant) !important;
    border: 0px;
}

@media only screen and (max-width: 600px) and (min-width: 350px) {
    .predictions__chart__cards {
        padding: 0rem;
        width: max-content;
        margin-top: 1rem;
    }

    .MuiTabPanel-root {
        padding: 0px!important;
    }

    .MuiTab-root {
        font-size: x-small!important;
      }
      

}