


.rates__chart__cards {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.rates__chart__cards {
    background: var(--color-bg-variant);
    border: 1px solid var(--color-light);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    margin-bottom: 1rem;
}
/*from https://github.com/apexcharts/vue-apexcharts/issues/114
2hrs to fix it :)
*/
.apexcharts-menu{
    background-color: var(--color-white)!important;
    color: var(--color-bg-variant)!important;
    border: 0px;
    }
  